<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据中心资源统计</title>
    <link rel="stylesheet" type="text/css" href="/static/myweb/css/mystyle.css">
    <link rel="stylesheet" href="/static/myweb/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/myweb/css/style.css">
    <script type="text/javascript" src="/static/myweb/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/myweb/js/highcharts.js"></script>
    <script type="text/javascript" src="/static/myweb/js/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#startime").datepicker({dateFormat: "yy-mm-dd"});
        })
        $(function () {
            $("#overtime").datepicker({dateFormat: "yy-mm-dd"});
        })
    </script>
</head>
<body>
<div>
<div>
<ul>
    <li><a class="active" href=" ">主页</a> </li>
    <li><a href="/vmsinfo">虚机</a> </li>
    <li><a href="/add">录入</a></li>
    <li style="float: right"><a href="/about/">关于</a> </li>
</ul>
</div>
<div class="leftmenu"></div>
<div class="container" style="margin-top: 100px">
    <div style="float: right; margin-top: 320px; margin-right: 150px">
        <form>
            <p>开始时间：<input name="startime" type="date" id="startime"></p>
            <p>结束时间：<input name="overtime" type="date" id="overtime"></p>
            <input type="submit" style="float: right; width: 100px; height: 30px; background-color: cornflowerblue" value="查询">
        </form>
    </div>
    <div id="container" style="width: 800px; height: 500px; margin: 0 auto">
        <script language="JavaScript">
            var data = [{{ series|safe }}]
        $(document).ready(function() {
           var chart = {
              type: 'column'
           };
           var title = {
              text: '工作统计'
           };
           var subtitle = {
              text: '数据来源: IDC'
           };
           var xAxis = {
              categories: ['虚机创建个数','故障处理次数','虚机变更次数'],
              crosshair: true
           };
           var yAxis = {
              min: 0,
              title: {
                 text: '次数统计 (次)'
              }
           };
           var tooltip = {
              headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                 '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
           };
           var plotOptions = {
              column: {
                 pointPadding: 0.2,
                 borderWidth: 0
              }
           };
           var credits = {
              enabled: false
           };

           var json = {};
           json.chart = chart;
           json.title = title;
           json.subtitle = subtitle;
           json.tooltip = tooltip;
           json.xAxis = xAxis;
           json.yAxis = yAxis;
           json.series = data;
           json.plotOptions = plotOptions;
           json.credits = credits;
           $('#container').highcharts(json);

        });
        </script>
    </div>
</div>
<div class="yejiao"><p style="color: white; text-align: center; bottom: 20px">copy@laiyuan</p> </div>
</div>
</body>
</html>