.topmenu {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: gray;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111111;
}

.active {
    background-color: #4CAF50;
}

.leftmenu {
    margin-top: 5px;
    padding: 0;
    width: 10%;
    height: 100%;
    overflow: auto;
    background-color: #333333;
    position: fixed;
}

.yejiao {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #333333;
}

.container {
    float: right;
    height: 100%;
    width: 90%;
    margin-top: 5px;
}

.submit {
    width: 100px;
    height: 30px;
    background-color: #4CAF50;
    cursor: pointer; /*鼠标放上去后显示的图标*/
}

.pie {
    margin-top: 100px;
    margin-left: 20%;
    width: 200px;
    height: 200px;
    border-radius: 50%;   /*添加圆角*/
    background: dodgerblue;
    background-image: linear-gradient(to right, transparent 50%, #655 0);
}

/*伪类属性 :before 在.pie属性元素之前插入内容*/
.pie::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    background: dodgerblue;
    border-radius: 0 100% 100% 0/50%;
    transform-origin: left;  /*设置旋转元素的基点位置*/
    transform: rotate(36deg);
}